.app {
    margin: 0 auto 3%; 
    width: 655px;
    height: 500px;
    padding: 10px;   
}

.sidebar {
    float: left;
    width: 150px;
    color: #fff;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #101022;
    opacity: 0.93;
}

.sidebar__os-btns {
  background-color: rgb(16, 16, 34);
  border-top-left-radius: 10px;
  width: 120px;
  height: 18px;
  padding: 11px 15px;
}

.sidebar__os-btn {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.sidebar__os-btn--margin {
    margin-left: 6px;
    margin-right: 6px;
}

.sidebar__os-btn--green {
    background-color: #00cd46;
}

.sidebar__os-btn--orange {
    background-color: #ffbc1b;
}

.sidebar__os-btn--red {
    background-color: #ff594f;
}

.sidebar__filter {
    padding: 0px 15px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.sidebar__filter:hover,
.sidebar__filter:visited,
.sidebar__filter--active {
    background-color: #292a48;
    cursor: pointer;
}

.sidebar__filter * {
    vertical-align: middle;

}

.sidebar__link {
    margin-left: 6px;
}

.sidebar__icon {
    fill: #fff;
    fill-rule: evenodd;
}

.sidebar__badge {
    float: right;
    text-align: right;
    color: #8a8995;
    font-family: proxima-nova, sans-serif;
}

.issue-items {
    float: left;
    background-color: #f6f6f6;
    height: 96%;
    width: 475px;
    border-radius: 0 10px 10px 0;
    padding: 10px 15px;
    overflow: scroll;
}
.issue-item {
    margin-bottom: 8px;
}

.issue-item__header {
    font-size: 12px;
    color: #8a8995;
    margin-bottom: 6px;
}